
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Under maintenance</title>
    <style>
        body {
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 50px;
        }

        body {
            font: 20px Helvetica, sans-serif;
            color: #333;
        }

        article {
            display: block;
            text-align: left;
            width: 650px;
            margin: 0 auto;
        }

        a {
            color: #dc8100;
            text-decoration: none;
        }

        a:hover {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <p>L'applicazione è in manutenzione e tornerà disponibile al più presto possibile.</p>
    <p>Siamo spiacenti per l'inconveniente.</p>
    <p>Contattare il supporto tecnico se il problema persiste.</p>
</body>
</html>
